<!-- templates/proje_olustur.html -->
<form method="POST" action="{% url 'proje_olustur' %}">
    {% csrf_token %}
    <label for="proje_adi">Proje Adı:</label>
    <input type="text" id="proje_adi" name="proje_adi" required><br>
    
    <label for="proje_sahibi">Proje Sahibi:</label>
    <input type="text" id="proje_sahibi" name="proje_sahibi" required><br>
    
    <label for="proje_amaci">Proje Amacı:</label>
    <textarea id="proje_amaci" name="proje_amaci" required></textarea><br>
    
    <label for="baslangic_tarihi">Başlangıç Tarihi:</label>
    <input type="date" id="baslangic_tarihi" name="baslangic_tarihi" required><br>
    
    <label for="bitis_tarihi">Bitiş Tarihi:</label>
    <input type="date" id="bitis_tarihi" name="bitis_tarihi" required><br>
    <a href="{% url 'profile' %}"><span class="icon">+</span>Geri</a>
    <input type="submit" value="İlerle">
</form>

