{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajanda</title>
    <link rel="stylesheet" href="{% static 'fullcalendar/core/main.css' %}">
    <link rel="stylesheet" href="{% static 'fullcalendar/daygrid/main.css' %}">
    <link rel="stylesheet" href="{% static 'fullcalendar/timegrid/main.css' %}">
    <style>
        h2 {
            color: #04162b;
            text-align: center;
            margin-top: 20px;
        }
    
        form {
            text-align: center;
            margin: 20px;
        }
    
        label {
            display: block;
            margin-bottom: 10px;
            color: #04162b;
        }
    
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    
        button[type="submit"] {
            background-color: #04162b;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        button[type="submit"]:hover {
            background-color: #04162b;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: #f4f4f4;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .close {
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover {
            color: #f00;
        }
    </style>
</head>
<body>
    <h1>Ajanda</h1>
    <div id="takvim"></div>

    {% for etkinlik in etkinlikler %}
        <h3>{{ etkinlik.title }}</h3>
        <p>Başlangıç Tarihi: {{ etkinlik.start_date }}</p>
        <p>Bitiş Tarihi: {{ etkinlik.end_date }}</p>
        <p>Açıklama: {{ etkinlik.description }}</p>
        <a href="{% url 'etkinlik_duzenle' etkinlik.id %}">Düzenle</a>
        <a href="#" class="delete-event-link" data-event-id="{{ etkinlik.id }}">Sil</a>
    {% endfor %}

    <a href="{% url 'profile' %}"><span class="icon">+</span>Geri</a>
    <h2>Not Ekle</h2>
    <form method="post" id="etkinlikForm">
        {% csrf_token %}
        <label for="id_title">Başlık:</label>
        <input type="text" name="title" id="id_title" required><br>
    
        <label for="id_start_date">Başlangıç Tarihi (Saatli):</label>
        <input type="datetime-local" name="start_date" id="id_start_date" required><br>
    
        <label for="id_end_date">Bitiş Tarihi (Saatli):</label>
        <input type="datetime-local" name="end_date" id="id_end_date" required><br>
    
        <label for="id_description">Açıklama:</label>
        <textarea name="description" id="id_description"></textarea><br>
    
        <button type="submit" id="addEventButton">Ekle</button>
    </form>
    <div id="editEventModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditEventModal" data-modal-id="editEventModal">&times;</span>
            <h2>Etkinliği Düzenle</h2>
            <form id="editEventForm">
                {% csrf_token %}
                <input type="hidden" name="event_id" id="edit_event_id">
                <label for="edit_id_title">Başlık:</label>
                <input type="text" name="title" id="edit_id_title" required><br>
    
                <label for="edit_id_start_date">Başlangıç Tarihi:</label>
                <input type="datetime-local" name="start_date" id="edit_id_start_date" required><br>
    
                <label for="edit_id_end_date">Bitiş Tarihi:</label>
                <input type="datetime-local" name="end_date" id="edit_id_end_date" required><br>
    
                <label for="edit_id_description">Açıklama:</label>
                <textarea name="description" id="edit_id_description"></textarea><br>
                
                <button type="submit">Kaydet</button>
            </form>
        </div>
    </div>

    <div id="detailsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeDetailsModal" data-modal-id="detailsModal">&times;</span>
            <h2>Not Detayları</h2>
            <div id="eventDetails"></div>
            <button id="eventEditButton">Düzenle</button>
        </div>
    </div>

    <script src="{% static 'fullcalendar/core/main.js' %}"></script>
    <script src="{% static 'fullcalendar/daygrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/timegrid/main.js' %}"></script>
    <script>
        function randomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            var savedEtkinlikler = localStorage.getItem('etkinlikler');
            var etkinlikler = [];
    
            if (savedEtkinlikler) {
                etkinlikler = JSON.parse(savedEtkinlikler);
            }
    
            var calendarEl = document.getElementById('takvim');
    
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: etkinlikler,
                eventClick: function(info) {
                    var title = info.event.title;
                    var description = info.event.extendedProps.description;
                    var eventId = info.event.id;
    
                    var detailsModal = document.getElementById('detailsModal');
                    var eventDetails = document.getElementById('eventDetails');
                    eventDetails.innerHTML = '<h3>' + title + '</h3><p>' + description + '</p>';
                    detailsModal.style.display = 'block';
    
                    var eventEditButton = document.getElementById('eventEditButton');
                    eventEditButton.addEventListener('click', function() {
                        var event = calendar.getEventById(eventId);
                        if (event) {
                            document.getElementById('edit_event_id').value = event.id;
                            document.getElementById('edit_id_title').value = event.title;
                            document.getElementById('edit_id_start_date').value = formatDate(event.start);
                            document.getElementById('edit_id_end_date').value = formatDate(event.end);
                            document.getElementById('edit_id_description').value = event.extendedProps.description;
            
                            var editEventModal = document.getElementById('editEventModal');
                            editEventModal.style.display = 'block';
            
                            detailsModal.style.display = 'none';
                        }
                    });
                }
            });
    
            calendar.render();
    
            var addEventButton = document.getElementById('addEventButton');
            var form = document.getElementById('etkinlikForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                var title = document.querySelector('#id_title').value;
                var start_date_input = document.querySelector('#id_start_date');
                var end_date_input = document.querySelector('#id_end_date');
                var description = document.querySelector('#id_description').value;
    
                var start_date_parts = start_date_input.value.split('T');
                var end_date_parts = end_date_input.value.split('T');
    
                var start_date = new Date(start_date_parts[0]);
                var end_date = new Date(end_date_parts[0]);
    
                var newEvent = {
                    id: Date.now().toString(),
                    title: title,
                    start: start_date,
                    end: end_date,
                    description: description,
                    backgroundColor: randomColor()
                };
    
                etkinlikler.push(newEvent);
                localStorage.setItem('etkinlikler', JSON.stringify(etkinlikler));
    
                calendar.addEvent(newEvent);
    
                form.reset();
            });
    
            var editEventForm = document.getElementById('editEventForm');
            editEventForm.addEventListener('submit', function(event) {
                event.preventDefault();
                var event_id = document.getElementById('edit_event_id').value;
                var title = document.getElementById('edit_id_title').value;
                var start_date = document.getElementById('edit_id_start_date').value;
                var end_date = document.getElementById('edit_id_end_date').value;
                var description = document.getElementById('edit_id_description').value;
    
                var event = calendar.getEventById(event_id);
                if (event) {
                    event.setProp('title', title);
                    event.setStart(start_date);
                    event.setEnd(end_date);
                    event.setExtendedProp('description', description);
    
                    updateLocalStorageEvents();
                    document.getElementById('editEventModal').style.display = 'none';
                }
            });
    
            function updateLocalStorageEvents() {
                var updatedEvents = [];
                calendar.getEvents().forEach(function(event) {
                    updatedEvents.push({
                        id: event.id,
                        title: event.title,
                        start: event.start,
                        end: event.end,
                        description: event.extendedProps.description,
                        backgroundColor: event.backgroundColor
                    });
                });
                localStorage.setItem('etkinlikler', JSON.stringify(updatedEvents));
            }
    
            function formatDate(date) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return year + '-' + month + '-' + day;
            }

            var deleteEventLinks = document.querySelectorAll('.delete-event-link');
            deleteEventLinks.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    var eventId = this.getAttribute('data-event-id');
                    deleteEvent(eventId);
                });
            });

            function deleteEvent(eventId) {
                fetch('/delete_event/' + eventId + '/', {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    if (data.success) {
                        var event = calendar.getEventById(eventId);
                        if (event) {
                            event.remove();
                            updateLocalStorageEvents();
                        }
                    }
                });
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // X işaretleri ve arka planı tıklayarak modalları kapatma işlevselliği ekle
            var closeButtons = document.querySelectorAll('.close');
            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var modalId = this.getAttribute('data-modal-id');
                    var modal = document.getElementById(modalId);
                    modal.style.display = 'none';
                });
            });

            window.addEventListener('click', function(event) {
                if (event.target.classList.contains('modal')) {
                    event.target.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
